*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 500vh;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;

}

nav{
    width: 80%;
    margin: auto;
}


header a{
    text-decoration: none;
}

header li{
    list-style-type: none;
    display: inline-block;
}

.header-sag{
    float: right;
    margin-right: 30px;
}

.header-sag li{
    margin: 10px 5px;
    font-size: 15px;
    font-weight: bolder;
    color: #4f4f4f;
}

.header-sag li a{
    margin: 1px;
    font-size: 15px;
    /* font-weight: bolder; */
    color: #4f4f4f;
}

.header-sol{
    float: left;
}

main{
    width: 80%;
    margin: auto;
    margin-top: 100px;

}

.clear{
    clear: both;
}

#btn1{
    padding: 14px 40px;
    border: 1px solid #A62440;
    color: #A62440;
    border-radius: 8px;
}

#btn1:hover{
    background-color: #A62440;
    color: white;
}

#btn2{
    background-color: #A62440;
    padding: 14px 40px;
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;


}
#btn2:hover{
    background-color: white;
    color: #A62440;
    border: 1px solid #A62440;
}

.menu-hover:hover{
    color: #A62440;
    text-decoration: underline;
}

header{
    overflow: auto;
    border-bottom: 1px solid #ddd;
}

.sol{
    float: left;
    width: 50%;
}

.sag{
    float: right;
    width: 50%;
}

#parag{
    color: #5B5B5B;
    max-width: 600px;
}

h1{
    color: #464646;
    font-size: 56px;
}

.part-time{
    color: #333333;
}

.apply-course{
    padding: 15px 20px;
    background-color: #A62440;
    color: white;
    border: 1px solid transparent;
}

.apply-course:hover{
    padding: 15px 10px;
    background-color: white;
    color: #A62440;
    border: 1px solid #A62440;
}

section{
    width: 80%;
    margin: auto;
    /* background-color: aliceblue; */
    padding-top: 100px;
    /* border:1px solid red; */
    /* overflow: auto; */
    height: 300vh;
}

.section-left{
    float: left;
    width: 300px;
    font-size: 16px;
    line-height: 30px;
    height: 300px;
    /* background-color: red; */
    position: sticky;
    top: 150px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    
}

.section-right{
    /* background-color: lightgreen; */
    float: right;
    width: 70%;

    

}


.first{
    border-bottom: 1px solid #ddd;
}



.section-left a{
    text-decoration: none;
    color: #5B5B5B;
    font-weight: 500;
}

li{
    color: #5b5b5b;
    
}

.sidebar-p{
    border-bottom: 1px solid #a4afb7;
    padding-left: 25px;
    font-weight: bolder;
    color: #5B5B5B;
}