*{
    font-family: Arial, Helvetica, sans-serif;
}



header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 2;
    overflow: auto;

}

body{
    height: 1000vh;
}

section{
    height: 700vh;
}

nav{
    width: 80%;
    max-width: 1280px;
    margin: auto;
    overflow: auto;
}


header a{
    text-decoration: none;
}

header li{
    list-style-type: none;
    display: inline-block;
}

.header-sag{
    float: right;
    margin-right: 30px;
}

.header-sag li{
    margin: 10px 5px;
    font-size: 15px;
    font-weight: bolder;
    color: #4f4f4f;
}

.header-sag li a{
    margin: 1px;
    font-size: 15px;
    /* font-weight: bolder; */
    color: #4f4f4f;
}

.header-sol{
    float: left;
}

main{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    max-width: 1280px;


}

.clear{
    clear: both;
}

#btn1{
    padding: 14px 40px;
    border: 1px solid #A62440;
    color: #A62440;
    border-radius: 8px;
}

#btn1:hover{
    background-color: #A62440;
    color: white;
}

#btn2{
    background-color: #A62440;
    padding: 14px 40px;
    color: white;
    border-radius: 8px;
    border: 1px solid transparent;


}
#btn2:hover{
    background-color: white;
    color: #A62440;
    border: 1px solid #A62440;
}

.menu-hover:hover{
    color: #A62440;
    text-decoration: underline;
}

header{
    overflow: auto;
    border-bottom: 1px solid #ddd;
}

.sol{
    float: left;
    width: 50%;
}

.sag{
    float: right;
    width: 50%;
}

#parag{
    color: #5B5B5B;
    max-width: 600px;
}

h1{
    color: #464646;
    font-size: 56px;
}

.part-time{
    color: #333333;
}

.apply-course{
    padding: 15px 20px;
    background-color: #A62440;
    color: white;
    border: 1px solid transparent;
}

.apply-course:hover{
    background-color: white;
    color: #A62440;
    border: 1px solid #A62440;
}

section{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    max-width: 1280px;

}

.section-left{
    float: left;
    width: 300px;
    font-size: 16px;
    line-height: 30px;
    height: 290px;
    margin-top: 70px;
    /* background-color: red; */
    position: sticky;
    top: 100px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    
}

.section-right{
    /* background-color: lightgreen; */
    float: right;
    width: 70%;

    

}


.first{
    border-bottom: 1px solid #ddd;
}

.section-left a{
    text-decoration: none;
    color: #5B5B5B;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

}

#btn-enroll{
    display: inline-block;
    width: 115%;
    margin-top: 50px;
    position: relative;
    right: 40px;
    padding: 14px 25px;
    background-color: #A62440;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    /* text-align: center; */
}

#btn-enroll:hover{
    background-color: white;
    color: #A62440;
    border: 1px solid #A62440;
}

li{
    color: #5b5b5b;
    
}

.sidebar-p{
    border-bottom: 1px solid #a4afb7;
    padding-left: 25px;
    padding-bottom: 15px;
    font-weight: bolder;
    color: #5B5B5B;
}

.box{
    /* border: 1px solid red; */
    width: 100%;
    box-sizing: border-box;
}

.box-icon{
    border: 1px solid #8a1c4a;
    display: inline-block;
    color: #8a1c4a;
    padding: 15px 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    box-sizing: border-box;

    margin-right: 5px;
}

.box1, .box2, .box3{
    width: 32%;
    box-sizing: border-box;
    font-size: 16px;
    padding: 47px 0;

}

.box-icon i{
    font-size:50px ;
    font-weight: 1000;
}

.box-icon p{
    color: #5b5b5b;
}

h4{
    color: #4f4f4f;
}


.box p, h4{
    margin: 15px 0;
}


.box h4{
    font-size: 22px;
}

.programs{
    margin-top: 50px;
}


.card1{
    padding: 50px 20px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
    margin-top: 30px;
}

.card1{
    overflow: auto;
}

.card1 #title{
    font-size: 19px;
    font-weight: 600;
    color: #5B5B5B;
}

.left-side{
    float: left;
    width: 60%;
    border-right: 1px solid #A62440;
    padding-right: 40px;

}
.right-side{
    /* border: 1px solid blue; */
    float: right;
    display: flex;
    align-items: center;
    width: 30%;
    padding: 50px 0 30px 0;
    margin-top: -40px;
    margin-right: 40px;
}


#programs-date{
    margin-bottom: 70px;
   position: relative;
   left: 80px;
}

.left-side p{
    margin: 7px 0;
}

.left-side2{
    float: left;
    width: 20%;
}

.right-side2{
    float: right;
    width: 70%;
}

.right-side2{
    margin-top: -20px;
}


.first-li{
    display: inline-block;
    line-height: 25px;
}

.second-li{
    display: inline-block;
    margin-left: 50px;
    line-height: 25px;
}


.card-learn{
    padding: 50px 40px 30px 40px;
    box-sizing: border-box;
    /* border: 1px solid red; */
    height: 290px;
    overflow: hidden;
    /*  */
}

.marg-t{
    margin-top: -25px;
}


/* Alumnis Section */

.alumni-card1{
    width: 25%;
    margin-right: 15px;
    float: left;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 25px;
}

.alumni-card1 .top{
    width: 20%;
}

.alumni-card1 .top{
    width: 30%;
}

.alumni-card1 .top img{
    float: left;
}

.alumni-card1 .top-box{
    font-size: 14px;
    margin-left: 70px;
    
}


.alumni-card1 .top-box span{
    line-height: 20px;
}

.alumni-card1 .bottom{
    border-top:1px solid #e1e8ed;
    color: #333333;
}


/* FAQ SECTION */

.question1{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
    border-radius: 2px;
    padding: 5px 15px;
    border-bottom: 3px solid #A62440;
}

#parag1{
    display: inline-block;
    border-bottom: 2px dashed #a4afb7;
    margin-bottom: 15px;
}

.question1{
    margin-bottom: 15px;
    cursor: pointer;
  
}

#parag-none{
    display: none;
    padding: 15px;
    transition: .3s;
}

.question1:active #parag-none{
    display: block;
    transition: .3s;
    
}

#plus{
    color: #A62440;
    float: right;
    position: relative;
    top: 12px;
    font-size: 25px;
    
    
}

